@using DrakeTest.WebUI.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";

}

    <body class="bg-dark">
        <div class="container">
            <div class="card card-login mx-auto mt-5">
                <div class="card-header">@ViewBag.Title</div>
                <div class="card-body">
                    <section id="loginForm">
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">

                                <div class="form-label-group">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control",  autofocus = "autofocus" })
                                    @Html.LabelFor(m => m.Email, new { })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="form-label-group">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", autofocus = "autofocus" })
                                    @Html.LabelFor(m => m.Password, new { })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe,new { @style = "margin-left:5px;" })
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>

                            </div>
                            <div class="form-group">
                                
                                    <input type="submit" value="Log in" class="btn btn-primary btn-block" />
                                
                            </div>
                            <div class="text-center">
                                <p>
                                    @Html.ActionLink("Register as a new user", "Register")
                                </p>

                                <p>
                                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                </p>
                            </div>
                        }

                    </section>
                </div>
            </div>

            @*<div class="col-md-4">
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>*@
        </div>
    </body>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
