@model DrakeTest.WebUI.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<style>

</style>
<body class="bg-dark">
    <div class="container">
        <div class="card card-register mx-auto mt-5">
            <div class="card-header">@ViewBag.Title</div>
            <div class="card-body">

                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">

                        <div class="form-label-group">


                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", autofocus = "autofocus" })
                            @Html.LabelFor(m => m.Email, new { })

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-label-group">


                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    @Html.LabelFor(m => m.Password, new { })

                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-label-group">


                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                        @Html.LabelFor(m => m.ConfirmPassword, new { })

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-label-group">


                                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                                    @Html.LabelFor(m => m.FirstName, new { })

                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-label-group">


                                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                                        @Html.LabelFor(m => m.LastName, new { })

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">


                            @Html.TextBoxFor(m => m.DOB, new { @class = "form-control", type = "date" })
                            @Html.LabelFor(m => m.DOB, new { })

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">


                            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", type = "tel" })
                            @Html.LabelFor(m => m.PhoneNumber, new { })

                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Gender, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            Male
                            @Html.RadioButtonFor(m => m.Gender, "Male")
                            Female
                            @Html.RadioButtonFor(m => m.Gender, "Female")
                        </div>
                    </div>
                    <div class="form-group">

                        <input type="submit" class="btn btn-primary btn-block" value="Register" />

                    </div>
                    <div class="text-center">
                        <p>
                            @Html.ActionLink("Login Page", "Login")
                        </p>

                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>
                    </div>
                }
            </div>
        </div>
</div>

@section Scripts {
@Scripts.Render("~/bundles/jqueryval")
}
</body>